.container-fluid {
    background-color: #ad8fe5;
    padding-bottom: 50px;
}
.col {
    margin-bottom: 3px;
}
#title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:600px) {
        .container-fluid {
            background-color: #ad8fe5;
            padding-bottom: 50px;
            max-width: max-content;
            width: 60%;
        }
    }